@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Bebas Neue');
.about{
    position:absolute;
    top:10rem;
    overflow-x: hidden;
}

h2{

    font-size:5rem;
    text-align: center;
}
.aboutcontent{
    display:block;
    width:40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}
@media(max-width:1024px)
{.about{
    position:absolute;
    top:8rem;
}
    h2{

    font-size:3rem;
    text-align: center;
}
.aboutcontent{
    display:block;
    width:90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}

}


